trunk/bioconductor/Developer_FHCC/Task 2.9.2_Code and Documentation for Final APIs/wsdl/caAffy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.bioconductor.org/services/caAffy" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.bioconductor.org/services/caAffy" xmlns:intf="http://www.bioconductor.org/services/caAffy" xmlns:tns2="http://www.bioconductor.org/services/rservices" xmlns:tns3="http://caAffy.packages.bioconductor.org" xmlns:tns4="http://bioassay.domain.mageom.nci.nih.gov" xmlns:tns5="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssay" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC2
Built on Mar 03, 2006 (12:17:06 EST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://www.bioconductor.org/services/caAffy" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssay"/>
   <import namespace="http://bioassay.domain.mageom.nci.nih.gov"/>
   <import namespace="http://caAffy.packages.bioconductor.org"/>
   <import namespace="http://www.bioconductor.org/services/rservices"/>
   <element name="caQAReport">
    <complexType>
     <sequence>
      <element name="in0" type="tns3:DerivedBioAssays"/>
      <element maxOccurs="unbounded" name="in1" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns4_DerivedBioAssay">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns4:DerivedBioAssay"/>
    </sequence>
   </complexType>
   <element name="caQAReportResponse">
    <complexType>
     <sequence>
      <element name="caQAReportReturn" type="tns3:QaReport"/>
     </sequence>
    </complexType>
   </element>
   <element name="caExpresso">
    <complexType>
     <sequence>
      <element name="in0" type="tns3:DerivedBioAssays"/>
      <element maxOccurs="unbounded" name="in1" type="xsd:string"/>
      <element name="in2" type="tns3:ExpressoParameter"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="caExpressoResponse">
    <complexType>
     <sequence>
      <element name="caExpressoReturn" type="tns3:DerivedBioAssays"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_int">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_xsd_double">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_xsd_boolean">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bioassay.domain.mageom.nci.nih.gov" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssay"/>
   <import namespace="http://caAffy.packages.bioconductor.org"/>
   <import namespace="http://www.bioconductor.org/services/rservices"/>
   <import namespace="http://www.bioconductor.org/services/caAffy"/>
   <complexType abstract="true" name="Extendable">
    <sequence/>
   </complexType>
   <complexType abstract="true" name="Describable">
    <complexContent>
     <extension base="tns4:Extendable">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType abstract="true" name="Identifiable">
    <complexContent>
     <extension base="tns4:Describable">
      <sequence>
       <element name="name" type="xsd:string"/>
       <element name="identifier" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType abstract="true" name="BioAssay">
    <complexContent>
     <extension base="tns4:Identifiable">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType abstract="true" name="BioAssayData">
    <complexContent>
     <extension base="tns4:Identifiable">
      <sequence>
       <element maxOccurs="1" minOccurs="0" name="designElementDimension" type="tns5:DesignElementDimension"/>
       <element maxOccurs="1" minOccurs="0" name="bioAssayDimension" type="tns5:BioAssayDimension"/>
       <element maxOccurs="1" minOccurs="0" name="bioDataValues" type="tns5:BioDataValues"/>
       <element maxOccurs="1" minOccurs="0" name="quantitationTypeDimension" type="tns5:QuantitationTypeDimension"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="DerivedBioAssay">
    <complexContent>
     <extension base="tns4:BioAssay">
      <sequence>
       <element maxOccurs="unbounded" minOccurs="0" name="derivedBioAssayData" type="tns5:DerivedBioAssayData"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssay" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bioassay.domain.mageom.nci.nih.gov"/>
   <import namespace="http://caAffy.packages.bioconductor.org"/>
   <import namespace="http://www.bioconductor.org/services/rservices"/>
   <import namespace="http://www.bioconductor.org/services/caAffy"/>
   <complexType abstract="true" name="DesignElementDimension">
    <complexContent>
     <extension base="tns4:Identifiable">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType abstract="true" name="BioAssay">
    <complexContent>
     <extension base="tns4:Identifiable">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="BioAssayDimension">
    <complexContent>
     <extension base="tns4:Identifiable">
      <sequence>
       <element maxOccurs="unbounded" minOccurs="0" name="bioAssays" type="tns5:BioAssay"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType abstract="true" name="BioDataValues">
    <complexContent>
     <extension base="tns4:Extendable">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType abstract="true" name="QuantitationType">
    <complexContent>
     <extension base="tns4:Identifiable">
      <sequence>
       <element name="isBackground" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="QuantitationTypeDimension">
    <sequence>
     <element name="name" type="xsd:string"/>
     <element name="identifier" type="xsd:string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="quantitationTypes" type="tns5:QuantitationType"/>
     <element name="identifier2" nillable="true" type="xsd:string"/>
     <element name="name2" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="DerivedBioAssayData">
    <complexContent>
     <extension base="tns4:BioAssayData">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://caAffy.packages.bioconductor.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssay"/>
   <import namespace="http://bioassay.domain.mageom.nci.nih.gov"/>
   <import namespace="http://www.bioconductor.org/services/rservices"/>
   <import namespace="http://www.bioconductor.org/services/caAffy"/>
   <complexType name="DerivedBioAssays">
    <sequence>
     <element name="bioAssays" nillable="true" type="impl:ArrayOf_tns4_DerivedBioAssay"/>
    </sequence>
   </complexType>
   <complexType name="QaReport">
    <sequence>
     <element name="pdfFile" nillable="true" type="xsd:base64Binary"/>
    </sequence>
   </complexType>
   <complexType name="NormalizeMethodParameter">
    <sequence>
     <element name="method" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="probeType" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="ExpressoParameter">
    <sequence>
     <element name="backgroundCorrectMethod" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="normalizeMethodParameter" nillable="true" type="tns3:NormalizeMethodParameter"/>
     <element name="pmCorrectMethod" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="probeSummaryMethod" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://www.bioconductor.org/services/rservices" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssay"/>
   <import namespace="http://bioassay.domain.mageom.nci.nih.gov"/>
   <import namespace="http://caAffy.packages.bioconductor.org"/>
   <import namespace="http://www.bioconductor.org/services/caAffy"/>
   <complexType abstract="true" name="RJArray">
    <sequence>
     <element name="dim" nillable="true" type="impl:ArrayOf_xsd_int"/>
     <element name="dimnames" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
   <complexType name="RJCharArray">
    <complexContent>
     <extension base="tns2:RJArray">
      <sequence>
       <element name="value" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType abstract="true" name="RJMatrix">
    <sequence>
     <element name="dim" nillable="true" type="impl:ArrayOf_xsd_int"/>
     <element name="dimnames" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
   <complexType name="RJCharMatrix">
    <complexContent>
     <extension base="tns2:RJMatrix">
      <sequence>
       <element name="value" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RJComplex">
    <sequence>
     <element name="imaginary" nillable="true" type="impl:ArrayOf_xsd_double"/>
     <element name="real" nillable="true" type="impl:ArrayOf_xsd_double"/>
    </sequence>
   </complexType>
   <complexType name="RJComplexArray">
    <complexContent>
     <extension base="tns2:RJArray">
      <sequence>
       <element name="value" nillable="true" type="tns2:RJComplex"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RJComplexMatrix">
    <complexContent>
     <extension base="tns2:RJMatrix">
      <sequence>
       <element name="value" nillable="true" type="tns2:RJComplex"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RJDataFrame">
    <sequence>
     <element name="data" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="rowNames" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="RJFactor">
    <sequence>
     <element name="code" nillable="true" type="impl:ArrayOf_xsd_int"/>
     <element name="levels" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="RJIntegerArray">
    <complexContent>
     <extension base="tns2:RJArray">
      <sequence>
       <element name="value" nillable="true" type="impl:ArrayOf_xsd_int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RJIntegerMatrix">
    <complexContent>
     <extension base="tns2:RJMatrix">
      <sequence>
       <element name="value" nillable="true" type="impl:ArrayOf_xsd_int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RJLogicalArray">
    <complexContent>
     <extension base="tns2:RJArray">
      <sequence>
       <element name="value" nillable="true" type="impl:ArrayOf_xsd_boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RJLogicalMatrix">
    <complexContent>
     <extension base="tns2:RJMatrix">
      <sequence>
       <element name="value" nillable="true" type="impl:ArrayOf_xsd_boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RJNumericArray">
    <complexContent>
     <extension base="tns2:RJArray">
      <sequence>
       <element name="value" nillable="true" type="impl:ArrayOf_xsd_double"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RJNumericMatrix">
    <complexContent>
     <extension base="tns2:RJMatrix">
      <sequence>
       <element name="value" nillable="true" type="impl:ArrayOf_xsd_double"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RJRawArray">
    <complexContent>
     <extension base="tns2:RJArray">
      <sequence>
       <element name="value" nillable="true" type="xsd:base64Binary"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RJRawMatrix">
    <complexContent>
     <extension base="tns2:RJMatrix">
      <sequence>
       <element name="value" nillable="true" type="xsd:base64Binary"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="caExpressoRequest">

      <wsdl:part element="impl:caExpresso" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="caExpressoResponse">

      <wsdl:part element="impl:caExpressoResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="caQAReportResponse">

      <wsdl:part element="impl:caQAReportResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="caQAReportRequest">

      <wsdl:part element="impl:caQAReport" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="caAffy">

      <wsdl:operation name="caQAReport">

         <wsdl:input message="impl:caQAReportRequest" name="caQAReportRequest"/>

         <wsdl:output message="impl:caQAReportResponse" name="caQAReportResponse"/>

      </wsdl:operation>

      <wsdl:operation name="caExpresso">

         <wsdl:input message="impl:caExpressoRequest" name="caExpressoRequest"/>

         <wsdl:output message="impl:caExpressoResponse" name="caExpressoResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="caAffySoapBinding" type="impl:caAffy">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="caQAReport">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="caQAReportRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="caQAReportResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="caExpresso">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="caExpressoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="caExpressoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="caAffyService">

      <wsdl:port binding="impl:caAffySoapBinding" name="caAffy">

         <wsdlsoap:address location="http://localhost:8080/axis/services/caAffy"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
