trunk/services/caGeneSetAnalysis/caGrid/CaGeneSetAnalysis/schema/CaGeneSetAnalysis/org.bioconductor.cagrid.cagenesetanalysis.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://org.bioconductor.cabig/1.0/org.bioconductor.cagrid.cagenesetanalysis" 
		   targetNamespace="http://org.bioconductor.cabig/1.0/org.bioconductor.cagrid.cagenesetanalysis">
		   
	<xs:element name="GeneSetAnalysisParameters" type="GeneSetAnalysisParameters"/>
	<xs:complexType name="GeneSetAnalysisParameters">
		<xs:annotation>
			<xs:documentation>Parameter values of a gene set analysis</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="annotation" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Bioconductor annotation package to be used to associated reporter information with gene set classification</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ContinuousGeneSetAnalysisParameters" type="ContinuousGeneSetAnalysisParameters"/>
	<xs:complexType name="ContinuousGeneSetAnalysisParameters">
		<xs:annotation>
			<xs:documentation>Parameter values of a continuous gene set analysis</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="GeneSetAnalysisParameters">
				<xs:sequence>
					<xs:element name="minimumGenesPerGeneSet" type="xs:int">
						<xs:annotation>
							<xs:documentation>A threshold value indicating the number of reporters per set below which statistical analysis will not be performed</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DiscreteGeneSetAnalysisParameters" type="DiscreteGeneSetAnalysisParameters"/>
	<xs:complexType name="DiscreteGeneSetAnalysisParameters">
		<xs:annotation>
			<xs:documentation>Parameter values of a discrete gene set analysis</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="GeneSetAnalysisParameters">
				<xs:sequence>
					<xs:element name="discretePValue" type="xs:double">
						<xs:annotation>
							<xs:documentation>The nominal statistical significance to be used for dividing differential expression p-values into discrete groups</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="testDirection" type="xs:string">
						<xs:annotation>
							<xs:documentation>The direction in which differential expression is to be evaluated, corresponding to enhanced expression, reduced expression, or either enhanced or reduced expression.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GeneSetAnalysisResultCollection" type="GeneSetAnalysisResultCollection"/>
	<xs:complexType name="GeneSetAnalysisResultCollection">
		<xs:annotation>
			<xs:documentation>A collection of statistical results of a gene set analysis</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>A textural description of how the collection of gene sets was constructed</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ContinuousGeneSetAnalysisResultCollection" type="ContinuousGeneSetAnalysisResultCollection"/>
	<xs:complexType name="ContinuousGeneSetAnalysisResultCollection">
		<xs:annotation>
			<xs:documentation>A collection of statistical results of a continuous gene set analysis</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="GeneSetAnalysisResultCollection">
				<xs:sequence>
					<xs:element name="continuousGeneSetAnalysisResult" type="ContinuousGeneSetAnalysisResult" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DiscreteGeneSetAnalysisResultCollection" type="DiscreteGeneSetAnalysisResultCollection"/>
	<xs:complexType name="DiscreteGeneSetAnalysisResultCollection">
		<xs:annotation>
			<xs:documentation>A collection of statistical results of a discrete gene set analysis</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="GeneSetAnalysisResultCollection">
				<xs:sequence>
					<xs:element name="discreteGeneSetAnalysisResult" type="DiscreteGeneSetAnalysisResult" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GeneSetAnalysisResult" type="GeneSetAnalysisResult"/>
	<xs:complexType name="GeneSetAnalysisResult">
		<xs:annotation>
			<xs:documentation>A result of a gene set analysis</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="geneSetId" type="xs:string">
				<xs:annotation>
					<xs:documentation>The identitifer of this gene set</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="geneSetSize" type="xs:int">
				<xs:annotation>
					<xs:documentation>The number of entitites assigned to this gene set</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pValue" type="xs:double">
				<xs:annotation>
					<xs:documentation>The nominal statistical significance of the summary statistic</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="geneSetMembers" type="GeneSetMember" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GeneSetMember" type="GeneSetMember"/>
	<xs:complexType name="GeneSetMember">
		<xs:annotation>
			<xs:documentation>A member of a gene set</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="reporterName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the microarray reporter</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ContinuousGeneSetAnalysisResult" type="ContinuousGeneSetAnalysisResult"/>
	<xs:complexType name="ContinuousGeneSetAnalysisResult">
		<xs:annotation>
			<xs:documentation>A statistical result of a continuous gene set analysis</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="GeneSetAnalysisResult">
				<xs:sequence>
					<xs:element name="adjustedTStatistic" type="xs:double">
						<xs:annotation>
							<xs:documentation>A t-statistic adjusted for multiple comparisons</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DiscreteGeneSetAnalysisResult" type="DiscreteGeneSetAnalysisResult"/>
	<xs:complexType name="DiscreteGeneSetAnalysisResult">
		<xs:annotation>
			<xs:documentation>A statistical result of a discrete gene set analysis</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="GeneSetAnalysisResult">
				<xs:sequence>
					<xs:element name="expectedCount" type="xs:int">
						<xs:annotation>
							<xs:documentation>The number of reporters in the gene set expected to exceed the threshold level of statistical significance specified by the GeneSetParameters, under the null hypothesis of no differential expression</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="selectedCount" type="xs:int">
						<xs:annotation>
							<xs:documentation>The number of reporters for which differential expression exceeded the statistical significance threshold specified by the GeneSetParameters</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GeneOntologyDiscreteGeneSetAnalysisParameters" type="GeneOntologyDiscreteGeneSetAnalysisParameters"/>
	<xs:complexType name="GeneOntologyDiscreteGeneSetAnalysisParameters">
		<xs:annotation>
			<xs:documentation>Parameter values of a Gene Ontology [GO] discrete gene set analysis</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DiscreteGeneSetAnalysisParameters">
				<xs:sequence>
					<xs:element name="ontology" type="xs:string">
						<xs:annotation>
							<xs:documentation>The Gene Ontology (GO) ontology to be used for assigning reporters to sets</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="KEGGDiscreteGeneSetAnalysisParameters" type="KEGGDiscreteGeneSetAnalysisParameters"/>
	<xs:complexType name="KEGGDiscreteGeneSetAnalysisParameters">
		<xs:annotation>
			<xs:documentation>Parameter values of a KEGG discrete gene set analysis</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DiscreteGeneSetAnalysisParameters">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PfamDiscreteGeneSetAnalysisParameters" type="PfamDiscreteGeneSetAnalysisParameters"/>
	<xs:complexType name="PfamDiscreteGeneSetAnalysisParameters">
		<xs:annotation>
			<xs:documentation>Parameter values of a Pfam discrete gene set analysis</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DiscreteGeneSetAnalysisParameters">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GeneOntologyContinuousGeneSetAnalysisParameters" type="GeneOntologyContinuousGeneSetAnalysisParameters"/>
	<xs:complexType name="GeneOntologyContinuousGeneSetAnalysisParameters">
		<xs:annotation>
			<xs:documentation>Parameter values of a Gene Ontology [GO] continuous gene set analysis</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ContinuousGeneSetAnalysisParameters">
				<xs:sequence>
					<xs:element name="ontology" type="xs:string">
						<xs:annotation>
							<xs:documentation>The Gene Ontology (GO) ontology to be used for assigning reporters to sets</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="KEGGContinuousGeneSetAnalysisParameters" type="KEGGContinuousGeneSetAnalysisParameters"/>
	<xs:complexType name="KEGGContinuousGeneSetAnalysisParameters">
		<xs:annotation>
			<xs:documentation>Parameter values of a KEGG continuous gene set analysis</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ContinuousGeneSetAnalysisParameters">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PfamContinuousGeneSetAnalysisParameters" type="PfamContinuousGeneSetAnalysisParameters"/>
	<xs:complexType name="PfamContinuousGeneSetAnalysisParameters">
		<xs:annotation>
			<xs:documentation>Parameter values of a Pfam continuous gene set analysis</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ContinuousGeneSetAnalysisParameters">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
