branches/caIntegrator/services/HelperService/schema/HelperService/HelperService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://helper.packages.bioconductor.org/HelperService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns7="http://transfer.cagrid.org/Transfer" xmlns:ns6="http://transfer.cagrid.org/TransferService/Context/types" xmlns:ns5="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns1="http://org.bioconductor.cabig/1.0/org.bioconductor.cagrid.statefulservices" xmlns:ns3="http://helper.packages.bioconductor.org/HelperService/types" xmlns:ns0="http://org.bioconductor.cabig/1.0/org.bioconductor.cagrid.rservices" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/03/addressing" name="HelperService" targetNamespace="http://helper.packages.bioconductor.org/HelperService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://helper.packages.bioconductor.org/HelperService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://transfer.cagrid.org/Transfer" schemaLocation="./caGrid_Transfer.xsd" />
      <import namespace="http://transfer.cagrid.org/TransferService/Context/types" schemaLocation="./TransferServiceContextTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="http://org.bioconductor.cabig/1.0/org.bioconductor.cagrid.statefulservices" schemaLocation="./org.bioconductor.cagrid.statefulservices.xsd" />
      <import namespace="http://helper.packages.bioconductor.org/HelperService/types" schemaLocation="./HelperServiceTypes.xsd" />
      <import namespace="http://org.bioconductor.cabig/1.0/org.bioconductor.cagrid.rservices" schemaLocation="./../RServices/org.bioconductor.cagrid.rservices.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="./../ws/addressing/WS-Addressing.xsd" />
      <element name="TestContextLookupRequest">
        <complexType>
          <sequence>
            <element name="sessionEndpoint">
              <complexType>
                <sequence>
                  <element ref="ns1:SessionEndpoint" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="TestContextLookupResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetUploadFileReferencesRequest">
        <complexType>
          <sequence>
            <element name="sessionEndpoint">
              <complexType>
                <sequence>
                  <element ref="ns1:SessionEndpoint" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="fileReferences">
              <complexType>
                <sequence>
                  <element ref="ns0:FileReferences" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetUploadFileReferencesResponse">
        <complexType>
          <sequence>
            <element ref="ns1:CaGridFileReferences" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetUploadObjectReferenceRequest">
        <complexType>
          <sequence>
            <element name="sessionEndpoint">
              <complexType>
                <sequence>
                  <element ref="ns1:SessionEndpoint" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetUploadObjectReferenceResponse">
        <complexType>
          <sequence>
            <element ref="ns1:CaGridObjectReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetDownloadObjectReferenceRequest">
        <complexType>
          <sequence>
            <element name="sessionEndpoint">
              <complexType>
                <sequence>
                  <element ref="ns1:SessionEndpoint" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetDownloadObjectReferenceResponse">
        <complexType>
          <sequence>
            <element ref="ns1:CaGridObjectReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="HelperServiceResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns5:ServiceMetadata" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="TestContextLookupRequest">
    <part name="parameters" element="tns:TestContextLookupRequest" />
  </message>
  <message name="TestContextLookupResponse">
    <part name="parameters" element="tns:TestContextLookupResponse" />
  </message>
  <message name="GetUploadFileReferencesRequest">
    <part name="parameters" element="tns:GetUploadFileReferencesRequest" />
  </message>
  <message name="GetUploadFileReferencesResponse">
    <part name="parameters" element="tns:GetUploadFileReferencesResponse" />
  </message>
  <message name="GetUploadObjectReferenceRequest">
    <part name="parameters" element="tns:GetUploadObjectReferenceRequest" />
  </message>
  <message name="GetUploadObjectReferenceResponse">
    <part name="parameters" element="tns:GetUploadObjectReferenceResponse" />
  </message>
  <message name="GetDownloadObjectReferenceRequest">
    <part name="parameters" element="tns:GetDownloadObjectReferenceRequest" />
  </message>
  <message name="GetDownloadObjectReferenceResponse">
    <part name="parameters" element="tns:GetDownloadObjectReferenceResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="HelperServicePortType" wsrp:ResourceProperties="tns:HelperServiceResourceProperties">
    <operation name="testContextLookup">
      <input message="tns:TestContextLookupRequest" wsa:Action="http://helper.packages.bioconductor.org/HelperService/TestContextLookupRequest" />
      <output message="tns:TestContextLookupResponse" wsa:Action="http://helper.packages.bioconductor.org/HelperService/TestContextLookupResponse" />
    </operation>
    <operation name="getUploadFileReferences">
      <input message="tns:GetUploadFileReferencesRequest" wsa:Action="http://helper.packages.bioconductor.org/HelperService/GetUploadFileReferencesRequest" />
      <output message="tns:GetUploadFileReferencesResponse" wsa:Action="http://helper.packages.bioconductor.org/HelperService/GetUploadFileReferencesResponse" />
    </operation>
    <operation name="getUploadObjectReference">
      <input message="tns:GetUploadObjectReferenceRequest" wsa:Action="http://helper.packages.bioconductor.org/HelperService/GetUploadObjectReferenceRequest" />
      <output message="tns:GetUploadObjectReferenceResponse" wsa:Action="http://helper.packages.bioconductor.org/HelperService/GetUploadObjectReferenceResponse" />
    </operation>
    <operation name="getDownloadObjectReference">
      <input message="tns:GetDownloadObjectReferenceRequest" wsa:Action="http://helper.packages.bioconductor.org/HelperService/GetDownloadObjectReferenceRequest" />
      <output message="tns:GetDownloadObjectReferenceResponse" wsa:Action="http://helper.packages.bioconductor.org/HelperService/GetDownloadObjectReferenceResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

