branches/caIntegrator/services/caLinearModel/caGrid/CaLinearModel/schema/CaLinearModel/org.bioconductor.cagrid.calinearmodel.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://org.bioconductor.cabig/1.0/org.bioconductor.cagrid.calinearmodel"
		   xmlns:gov.nih.nci.caarray.domain.project="gme://caArray.caBIG/2.1/gov.nih.nci.caarray.domain.project"
		   xmlns:org.bioconductor.cagrid.data="http://org.bioconductor.cabig/1.0/org.bioconductor.cagrid.data"
		   targetNamespace="http://org.bioconductor.cabig/1.0/org.bioconductor.cagrid.calinearmodel">
		   
	<xs:import namespace="gme://caArray.caBIG/2.1/gov.nih.nci.caarray.domain.project" 
	           schemaLocation="../NIH_NCI_Types/gov.nih.nci.caarray.domain.project.xsd" />
	<xs:import namespace="http://org.bioconductor.cabig/1.0/org.bioconductor.cagrid.data"
			   schemaLocation="../Data/org.bioconductor.cagrid.data.xsd"/>
		   
	<xs:element name="Model" type="Model"/>
	<xs:complexType name="Model">
		<xs:annotation>
			<xs:documentation>Parameter values specifying how a linear model will be performed</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="numberOfTopReporters" type="xs:int">
				<xs:annotation>
					<xs:documentation>The number of differentially expressed microarray reporters to summarize for differential expression</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="TTest" type="TTest"/>
	<xs:complexType name="TTest">
		<xs:annotation>
			<xs:documentation>Parameter value specifying how a linear model comparing one channel log expression values will be compared in a t-test experimental design</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="OneChannelModel">
				<xs:sequence>
					<xs:element name="tTestAnnotation" type="TTestAnnotation" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="OneChannelModel" type="OneChannelModel"/>
	<xs:complexType name="OneChannelModel">
		<xs:annotation>
			<xs:documentation>Parameter value of a statistical linear model</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Model">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="TwoChannelModel" type="TwoChannelModel"/>
	<xs:complexType name="TwoChannelModel">
		<xs:annotation>
			<xs:documentation>Parameter value specifying how a linear model involving two channel log-fold expression values will be performed</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Model">
				<xs:sequence>
					<!-- referenceChannelIdentifier element is omited by R -->
					<!-- <xs:element name="referenceChannelIdentifier" type="xs:string" /> -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="OneFactorANOVA" type="OneFactorANOVA"/>
	<xs:complexType name="OneFactorANOVA">
		<xs:annotation>
			<xs:documentation>Parameter value specifying how a linear model comparing one channel log expression values will be compared in one factor analysis of variance experimental design</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="OneChannelModel">
				<xs:sequence>
					<xs:element name="oneFactorANOVAAnnotation" type="OneFactorANOVAAnnotation" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="DyeSwapTTest" type="DyeSwapTTest"/>
	<xs:complexType name="DyeSwapTTest">
		<xs:annotation>
			<xs:documentation>Parameter value of a dye-swap t-test</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TwoChannelModel">
				<xs:sequence>
					<xs:element name="referenceLevel" type="gov.nih.nci.caarray.domain.project:FactorValue" />
					<xs:element name="dyeSwapTTestAnnotation" type="DyeSwapTTestAnnotation" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="CommonReferenceANOVA" type="CommonReferenceANOVA"/>
	<xs:complexType name="CommonReferenceANOVA">
		<xs:annotation>
			<xs:documentation>Parameter value to annotate two channel expression values</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TwoChannelModel">
				<xs:sequence>
					<xs:element name="referenceLevel" type="gov.nih.nci.caarray.domain.project:FactorValue"/>
					<xs:element name="commonReferenceANOVAAnnotation" type="CommonReferenceANOVAAnnotation" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="PairedTTest" type="PairedTTest"/>
	<xs:complexType name="PairedTTest">
		<xs:annotation>
			<xs:documentation>Parameter value of a one factor analysis of variance annotation</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="OneChannelModel">
				<xs:sequence>
					<xs:element name="pairedTTestAnnotation" type="PairedTTestAnnotation" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
<!--	
	<xs:element name="TwoFactorANOVA" type="TwoFactorANOVA"/>
	<xs:complexType name="TwoFactorANOVA">
		<xs:complexContent>
			<xs:extension base="OneChannelModel">
				<xs:sequence>
					<xs:element name="twoFactorANOVAAnnotation" type="TwoFactorANOVAAnnotation" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
-->
	
	<xs:element name="TTestAnnotation" type="TTestAnnotation"/>
	<xs:complexType name="TTestAnnotation">
		<xs:annotation>
			<xs:documentation>Parameter value of a t-test annotation</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="OneChannelSampleAnnotation">
				<xs:sequence>
					<xs:element name="factorLevel" type="gov.nih.nci.caarray.domain.project:FactorValue"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="PairedTTestAnnotation" type="PairedTTestAnnotation"/>
	<xs:complexType name="PairedTTestAnnotation">
		<xs:annotation>
			<xs:documentation>Parameter value of a paired t-test</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="OneChannelSampleAnnotation">
				<xs:sequence>
					<xs:element name="factorLevel" type="gov.nih.nci.caarray.domain.project:FactorValue"/>
					<xs:element name="pairIdentifier" type="xs:string">
						<xs:annotation>
							<xs:documentation>An identifier to indicate which pair the sample belonged to</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
<!--	
	<xs:element name="SampleAnnotation" type="SampleAnnotation"/>
	<xs:complexType name="SampleAnnotation">
		<xs:sequence>
			<xs:element name="sampleIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
-->	
	<xs:element name="OneFactorANOVAAnnotation" type="OneFactorANOVAAnnotation"/>
	<xs:complexType name="OneFactorANOVAAnnotation">
		<xs:annotation>
			<xs:documentation>Parameter value to annotate a one channel sample of log expression values used in a one factor analysis of variance experimental design</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="OneChannelSampleAnnotation">
				<xs:sequence>
					<xs:element name="factorLevel" type="gov.nih.nci.caarray.domain.project:FactorValue"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<!--	
	<xs:element name="TwoFactorANOVAAnnotation" type="TwoFactorANOVAAnnotation"/>
	<xs:complexType name="TwoFactorANOVAAnnotation">
		<xs:complexContent>
			<xs:extension base="OneChannelSampleAnnotation">
				<xs:sequence>
					<xs:element name="factorOneLevel" type="gov.nih.nci.caarray.domain.project:FactorValue"/>
					<xs:element name="factorTwoLevel" type="gov.nih.nci.caarray.domain.project:FactorValue"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
-->
	
	<xs:element name="DyeSwapTTestAnnotation" type="DyeSwapTTestAnnotation"/>
	<xs:complexType name="DyeSwapTTestAnnotation">
		<xs:annotation>
			<xs:documentation>Parameter value of a dye-swap t-test annotation</xs:documentation>
		</xs:annotation>	
		<xs:complexContent>
			<xs:extension base="TwoChannelSampleAnnotation">
				<xs:sequence>
					<xs:element name="factorLevel" type="gov.nih.nci.caarray.domain.project:FactorValue"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="CommonReferenceANOVAAnnotation" type="CommonReferenceANOVAAnnotation"/>
	<xs:complexType name="CommonReferenceANOVAAnnotation">
		<xs:annotation>
			<xs:documentation>Parameter value of a common reference analysis of variance</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TwoChannelSampleAnnotation">
				<xs:sequence>
					<xs:element name="factorLevel" type="gov.nih.nci.caarray.domain.project:FactorValue"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="OneChannelSampleAnnotation" type="OneChannelSampleAnnotation"/>
	<xs:complexType name="OneChannelSampleAnnotation">
		<xs:annotation>
			<xs:documentation>Parameter value to annotate a single channel sample of expression values used in a linear model</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="org.bioconductor.cagrid.data:SampleAnnotation">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="TwoChannelSampleAnnotation" type="TwoChannelSampleAnnotation"/>
	<xs:complexType name="TwoChannelSampleAnnotation">
		<xs:annotation>
			<xs:documentation>Parameter value to annotate single channel expression values</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="org.bioconductor.cagrid.data:SampleAnnotation">
				<xs:sequence>
					<xs:element name="channelIdentifier" type="xs:string">
						<xs:annotation>
							<xs:documentation>An identifier to indicate which of two microarray channels the sample was assayed on</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
